<ion-header>
  <ion-toolbar>
    <ion-title>FilaXpress</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="header">
    <h1>Login</h1>
    <img src="assets/logo.png">
  </div>

  <form id="form" [formGroup]="loginForm">
    <ion-input placeholder="Email" formControlName="email"></ion-input>
    <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
    <ion-button expand="block" shape="round" (click)="loginUser()">Login</ion-button>
  </form>
  <p>Don't have an account? <a routerLink="/signup">Register</a></p>
</ion-content>