<ion-header>
  <ion-toolbar>
    <ion-title>FilaXpress</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="header">
    <h1>Iniciar sesión</h1>
    <img src="assets/logo.png">
  </div>

  <form id="form" [formGroup]="loginForm">
    <ion-input placeholder="Email" formControlName="email"></ion-input>
    <ion-input type="password" placeholder="Contraseña" formControlName="password"></ion-input>
    <ion-button expand="block" shape="round" (click)="loginUser()">Iniciar sesión</ion-button>
  </form>
  <p>¿No tienes una cuenta? <a routerLink="/signup">Regístrate</a>.</p>
</ion-content>