<div class="form-container">
  <ion-title>Registrar un nuevo cliente</ion-title>
    <form [formGroup]="addClientForm">
      <ion-grid>
        
        <ion-row>
          <ion-col size="6">
            <ion-label>Nombre</ion-label>
            <ion-input formControlName="nombre"></ion-input>
          </ion-col>
          <ion-col size="6">
            <ion-label>Apellido</ion-label>
            <ion-input formControlName="apellido"></ion-input>
          </ion-col>
        </ion-row>
    
        <ion-row>
          <ion-col size="6">
            <ion-label>Dirección</ion-label>
            <ion-input formControlName="direccion"></ion-input>
          </ion-col>
          <ion-col size="6">
            <ion-label>Teléfono</ion-label>
            <ion-input formControlName="telefono"></ion-input>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
</div>
<ion-footer>
  <div class="ion-text-right">
    <ion-button shape="round" color="light" (click)="dismiss()">Cancelar</ion-button><ion-button shape="round" (click)="addClient()">Confirmar</ion-button>
  </div>
</ion-footer>