<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-title>FilaXpress</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Únete a nosotros</h1>

  <form id="form" [formGroup]="signupForm">
    <ion-input placeholder="Tu nombre" formControlName="username"></ion-input>
    <ion-input placeholder="Email" formControlName="email"></ion-input>
    <ion-input type="password" placeholder="Contraseña" formControlName="password"></ion-input>
    <ion-button expand="block" shape="round" (click)="signupUser()">Crear Cuenta</ion-button>
  </form>
  <p>Al hacer click en 'Crear Cuenta' aceptas nuestros <br/>términos y condiciones.</p>
</ion-content>
