/* Estilos personalizados para la página principal */

.sidebar {
    //background-color: #ed2020;
    background-color: #1e1e1e;
    color: #fff;
    height: 89vh;
    padding: 0px;
  }
  
  .sidebar ion-item {
    --background: #ffffff00;
    --color: #989898;
  }
  
  .sidebar ion-icon {
    margin-right: 10px;
  }

  .sidebar ion-list {
    --background: #ffffff00;
  }

  .sidebar ion-label {
    --background: #ffffff00;
  }

.hover-effect:hover {
  background-color: #333333;
}

.fullscreen-button {
  position: fixed;
  bottom: 10px;
  right: 10px;
}
