<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="logout()" color="primary">Cerrar sesión</ion-button>
    </ion-buttons>
    <ion-title>FilaXpress</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <!-- Menú lateral -->
      <ion-col size="3" class="sidebar">
        <ion-list lines="full">
          <ion-item class="hover-effect" (click)="showContent('admin')">
            <ion-icon name="business"></ion-icon>
            <ion-label>Clientes</ion-label>
          </ion-item>
          <ion-item class="hover-effect" (click)="showContent('register')">
            <ion-icon name="person-add"></ion-icon>
            <ion-label>Usuarios</ion-label>
          </ion-item>
          <ion-item class="hover-effect" (click)="showContent('appointments')">
            <ion-icon name="calendar"></ion-icon>
            <ion-label>Turnos</ion-label>
          </ion-item>
          <ion-item class="hover-effect" (click)="showContent('reports')">
            <ion-icon name="document-text"></ion-icon>
            <ion-label>Informe</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>

      <!-- Contenedor de contenido principal -->
      <ion-col size="9" #mainContainer>

        <!------------------------ CLIENTES ------------------------>
        <ion-grid *ngIf="selectedItem === 'admin'">
          <ion-row>
            <!-- Admin content here -->
            <ion-col size="12">
              <ion-card>
                <ion-card-content>
                  <table>
                    <thead>
                      <tr>
                        <th>Nombre</th>
                        <th>Dirección</th>
                        <th>Teléfono</th>
                        <th>Acciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let client of clients; let i = index">
                        <td>{{ client.nombre }} {{ client.apellido }}</td>
                        <td>{{ client.direccion }}</td>
                        <td>{{ client.telefono }}</td>
                        <td>
                          <a style="cursor:pointer;">Editar</a>
                          &nbsp;
                          <a style="cursor:pointer;" (click)="deleteClient(clients[i].id)">Eliminar</a>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </ion-card-content>
              </ion-card>
              <!-- Hacer click en el botón abrirá un modal -->
              <ion-button expand="block" shape="round" (click)="abrirModalClientes()">Agregar cliente</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>

        <!------------------------ USUARIOS ------------------------>
        <ion-grid *ngIf="selectedItem === 'register'">
          <ion-row>
            <ion-col size="12">
              <ion-card>
                <ion-card-content>
                  <table>
                    <thead>
                      <tr>
                        <th>Correo electrónico</th>
                        <th>Nombre de usuario</th>
                        <th>Puesto</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let user of users$ | async" class="ion-text-center">
                        <td>{{ user.email }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.role }}</td>
                      </tr>
                    </tbody>
                  </table>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>

        <!------------------------ TURNOS ------------------------>
        <ion-grid *ngIf="selectedItem === 'appointments'">
          <ion-row>
              <ion-col size="12">
                <ion-card>
                  <ion-card-content>
                    <table>
                      <thead>
                        <tr>
                          <th>Fecha y hora</th>
                          <th>Prioridad</th>
                          <th>Pendiente</th>
                          <th>Acciones</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let appointment of appointments; let i = index">
                          <td>{{ appointment.deadline }}, {{ appointment.time }}</td>
                          <td>{{ appointment.priority }}</td>
                          <td>{{ appointment.pending }}</td>
                          <td>
                            <a style="cursor:pointer;">Editar</a>
                            &nbsp;
                            <a style="cursor:pointer;" (click)="deleteAppointment(appointments[i].id)">Eliminar</a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </ion-card-content>
                </ion-card>
                <!-- Hacer click en el botón abrirá un modal -->
                <ion-button expand="block" shape="round" (click)="abrirModalTurnos()">Agregar turno</ion-button>
              </ion-col>
          </ion-row>
        </ion-grid>
        <!------------------------ INFORME ------------------------>
        <ion-grid *ngIf="selectedItem === 'reports'">
          <ion-row>
            <!-- Contenedor de Por atender -->
            <ion-col size="6">
              <ion-card>
                <ion-card-header>
                  Por atender
                </ion-card-header>
                <ion-card-content style="font-size:28px; text-align:center;">
                  {{ pendingCount$ | async }}
                </ion-card-content>
              </ion-card>
            </ion-col>

            <!-- Contenedor de Finalizados -->
            <ion-col size="6">
              <ion-card>
                <ion-card-header>
                  Finalizados
                </ion-card-header>
                <ion-card-content style="font-size:28px; text-align:center;">
                  {{ nonPendingCount$ | async }}
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-card #chartContainer id="chartContainer" class="card-hidden">
          <ion-card-header>
            Gráfica de Turnos Atendidos
          </ion-card-header>
          <ion-card-content>
            <div #chartDiv id="chartDiv" class="chart-hidden" style="width: 100%; height: 320px;"></div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
<ion-footer>
  <ion-button slot="end" class="fullscreen-button" (click)="toggleFullScreen()" fill="clear"><ion-icon name="expand"></ion-icon></ion-button> <!-- Icono para expandir a pantalla completa -->
</ion-footer>
