/* Estilos personalizados para la página principal */

.sidebar {
    background-color: #007bff; /* Color azul */
    color: #fff; /* Texto en color blanco */
    height: 100vh; /* Altura completa */
    padding-top: 20px; /* Espaciado superior */
  }
  
  ion-list {
    padding: 0;
  }
  
  ion-item {
    --padding-start: 20px; /* Espaciado al inicio del ítem */
  }
  
  ion-icon {
    margin-end: 10px; /* Margen a la derecha del icono */
  }
  